ProblemStatement.md
CLAUDE.md
./claude
./venv
*/.venv


# Python cache
__pycache__/
*.py[cod]
*$py.class

frontend\node_modules

# Local env (contains GEMINI_API_KEY)
.env
.env.local
*/.env
*/.env.local